body {
  margin: 0;
}

.background-controller.print {
  background: lightGrey;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.book {
}

.page {
  background: white;
  box-sizing: border-box;
  height: 11in;
  margin: 1in auto;
  padding: .2in;
  width: 8.5in;
}

.card {
    align-items: center;      /* vertical align */
    border: 2px solid rgba(0, 0, 0, .63);
    display: inline-flex;
    justify-content: center;  /* horizontal align */
    margin: 0 .25in .25in 0;
    text-align: center;
}

.eighth-page-card {
    height: 2.4in;
    width: 3.68in;
}

.eighth-page-card .text {
    font-size: 18px;
}

.toggle-button, .next-card-button, .status-text, .mode-text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.next-card-button {
  left: 120px;
}

.status-text {
  font-size: 18px;
  top: 80px;
}

.mode-text {
  font-size: 18px;
  top: 50px;
}

.quarter-page-card {
    height: 5in;
    width: 3.68in;
}

.quarter-page-card-horizontal {
    cursor: pointer;
    display: flex;
    height: 3.68in;
    margin: 1in auto;
    width: 5in;
}

.quarter-page-card-horizontal .text {
    font-size: 20px;
}

.quarter-page-card .text {
    font-size: 20px;
    transform: rotate(90deg);
}

@media print {
  .page {
    margin: 0;
  }

  .toggle-button, .next-card-button, .status-text, .mode-text {
    display: none;
  }
}
