body {
  font-size: 100%; /* 16px */
  margin: 0;
}

.background-controller.print {
  background: lightGrey;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.book {}

.flash-card-group {
    margin: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
}

.flash-card-group > * {
    margin-bottom: 5px;
}

.flex-row {
    display: flex;
    flex: 0 0 50%;
}

.page {
  background: white;
  box-sizing: border-box;
  height: 11.2in;               /* idk why but straight up 11in has a bad print result */
  margin: .5in auto;
  padding: .2in;
  width: 8.5in;
  display: flex;
  flex-direction: column;
}

.card {
    align-items: center;        /* vertical align */
    display: inline-flex;
    justify-content: center;    /* horizontal align */
    text-align: center;
    flex: 0 0 50%;
    box-sizing: border-box;
}

.card-inner-margin {
    align-items: center;        /* vertical align */
    border: 2px solid rgba(0, 0, 0, .63);
    display: flex;
    height: 95%;
    justify-content: center;    /* horizontal align */
    width: 95%;
}

.eighth-page-card {
    height: 2.4in;
    width: 3.68in;
}

.eighth-page-card .text {
    font-size: 18px;
}

.toggle-button, .status-text, .mode-text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.next-card-button {}

.status-text {
  font-size: 18px;
  top: 80px;
}

.mode-text {
  font-size: 18px;
  top: 50px;
}

.quarter-page-card {}

.quarter-page-card-horizontal {
    cursor: pointer;
    display: flex;
    height: 3.68in;
    margin: 1in auto;
    width: 5in;
}

.quarter-page-card-horizontal .text {
    font-size: 20px;
}

.quarter-page-card .text {
    font-size: 20px;
    transform: rotate(90deg);
}

@media print {
    .page {
        break-after: always;                /* doesn't seem to work */
        margin: 0;
        page-break-after: always;           /* doesn't seem to work */
    }

    .flex-row {
        break-after: always;                /* doesn't seem to work */
        page-break-after: always;           /* doesn't seem to work */
    }

    .toggle-button,
    .next-card-button,
    .status-text,
    .mode-text {
        display: none;
    }
}
